/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Sedgwick Ave', cursive;
font-family: 'Abel', sans-serif; */

h1 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Dosis', sans-serif;
}

p {
  font-family: 'Dosis', sans-serif;
}

body {
  margin-top: 100px;
  margin-left: 75px;
  margin-right: 75px;
}

h3 {
  font-family: 'Dosis', sans-serif;
  margin-top: -15px;
}
