main {
    display : flex;
    flex-flow: wrap;
}

section {
    min-width: 200px;
    min-height: 200px;
}

#block1 {
    flex-basis : 100%;
}

#block2, #block3, #block4, #block5 {
    flex-basis : 50%;
}



@media (max-width : 800px)
{
    #block1{
        flex-basis : 100%;
    }
    #block2, #block3, #block4, #block5{
        flex-basis : 50%;
    }
}

@media (max-width : 600px)
{
    #block1,#block2,#block3,#block4,#block5
    {
        flex-basis : 100%;
    }
}

section.innersection {
  margin: 10px;
  background-color: white;
  box-shadow: 1px 2px 2px 3px #d1d1d1);
  border-radius: 5px;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
}

section.innersection:hover {
  box-shadow: 1px 2px 2px 1px #d1d1d1;

}
